.all-posts-container {
  display: flex;
  ion-content {
    height: calc(100vh - 320px);
    ion-list {
      background-color: #f3f2ef;
      padding-top: 0;
    }
  }
}
.bottom {
  display: flex;
  justify-content: center;
}
